<div class="row">
  <div class="col-md-4">$character.name</div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6">Class : $character.characterClass</div>
      <div class="col-md-3">Level : $character.level</div>
      <div class="col-md-3">XP : $character.xp</div>      
    </div>
    <div class="row">
      <div class="col-md-6">Race : $character.race</div>
      <div class="col-md-6">Alignment : $character.alignment</div>         
    </div>
  </div>   
</div>
<div class="row">
  <div class="col-md-3">
    <div class="row">
          Proficiency Bonus : $character.proficiency.bonus
    </div>
    
    <div class="row">
      <table class="table table-condensed">
        <caption>Ability</caption>
        <thead>
          <tr>
            <th>Ability</th><th>Score</th><th>Modifier</th>
          </tr>
        <thead>
        <tbody>
              #foreach ($ability in $character.abilities.iterator())
          <tr>
            <td>$ability.type</td><td>$ability.score</td><td><b>$ability.modifier</b></td>
          </tr>
              #end
        </tbody>
      </table>
    </div>
        
    <div class="row">
      <table class="table table-condensed">
        <caption>Saving Throws</caption> 
        <tbody>
              #foreach ($ability in $character.abilities)
                #set ($savingThrow = $ability.savingThrow)
                #if ($savingThrow.proficiency)
                    #set ($savingThrowValue = $savingThrow.ability.modifier + $character.proficiency.bonus)
                #else
                    #set ($savingThrowValue = $savingThrow.ability.modifier)
                #end
          <tr>
            <td>$savingThrow.ability.type</td>
            <td>#if ( $savingThrow.proficiency ) <img src="/resources/images/checkbox_yes.png" /> #else <img src="/resources/images/checkbox_no.png" /> #end</td>
            <td><b>$savingThrowValue</b></td>
          </tr>
              #end
        </tbody>
      </table>
    </div>
        
    <div class="row">
      <table class="table table-condensed">
        <caption>Skills</caption> 
        <tbody>
              #foreach ($skill in $character.skills)
                #if ($skill.proficiency)
                    #set ($skillValue = $skill.ability.modifier + $character.proficiency.bonus)
                #else
                    #set ($skillValue = $skill.ability.modifier)
                #end
          <tr>
            <td>$skill.skillType.name ($skill.ability.type.shorten)</td>
            <td>#if ( $skill.proficiency ) <img src="/resources/images/checkbox_yes.png" /> #else <img src="/resources/images/checkbox_no.png" /> #end</td>
            <td><b>$skillValue</b></td>
          </tr>
              #end
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <div class="row">
        AC : $character.armorClass
    </div>
    <div class="row">
        Initiative : $character.initiative
    </div>
    <div class="row">
        Speed : $character.speed feet
    </div>
    <div class="row">
        HP Max : $character.hpMax
    </div>
    <div class="row">
        HP Current : $character.hpCurrent
    </div>
    <div class="row">
      <div class="row">
      <table class="table table-condensed">
        <caption>Atacks</caption>
        <thead>
          <tr>
            <th>Name</th><th>Attack Bonus</th><th>Damage/Type</th>
          </tr>
        <thead>
        <tbody>
              #foreach ($characterWeapon in $character.weapons)
          <tr>
            <td>$characterWeapon.weapon.name</td>
            <td>$characterWeapon.attackRoll</td>
            <td>$characterWeapon.weapon.damage ($characterWeapon.weapon.damageType)</td>
          </tr>
              #end
        </tbody>
      </table>
    </div>
    </div>
  </div>
  <div class="col-md-4">
    <h4>Features</h4>
  </div>    
  <div class="col-md-1"></div>
</div>