<div class="row">
  <table class="table table-condensed">
    <caption>Atacks</caption>
    <thead>
      <tr>
        <th>Name</th><th>Attack Bonus</th><th>Damage/Type</th>
      </tr>
    <thead>
    <tbody>
      #foreach ($weapon in $character.weapons)
      <tr>
        <td>$weapon.name</td>
        <td>$weapon.attackBonus</td>
        <td>$weapon.damage $weapon.damageType</td>
      </tr>
      #end
      </tbody>
  </table>
          
  <table class="table table-condensed">
    <caption>Spells</caption>
    <thead>
      <tr>
        <th>Name</th><th>Saving Throw DC</th><th>Damage/Type</th>
      </tr>
    <thead>
    <tbody>
      #foreach ($weapon in $character.weapons)
      <tr>
        <td>$weapon.name</td>
        <td>$weapon.attackBonus</td>
        <td>$weapon.damage $weapon.damageType</td>
      </tr>
      #end
    </tbody>
  </table>
</div>