<div class="row">
      <div class="col-md-4">$character.name</div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">Class : $character.characterClass</div>
          <div class="col-md-3">Level : $character.level</div>
          <div class="col-md-3">XP : $character.xp</div>      
        </div>
        <div class="row">
          <div class="col-md-6">Race : $character.race</div>
          <div class="col-md-6">Alignment : $character.alignment</div>         
        </div>
      </div>   
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <table class="table table-condensed">
            <caption>Ability</caption>
            <thead>
              <tr>
                <th>Ability</th><th>Score</th><th>Modifier</th><th>Saving Throw</th>
              </tr>
            <thead>
            <tbody>
            #foreach ($ability in $character.abilities)
              #if ( $ability.savingThrowProficiency ) #set ($savingThrow = $ability.modifier + $character.proficiencyBonus) #else #set ($savingThrow = $ability.modifier) #end
              <tr>
                <td>$ability.type</td>
                <td>$ability.score</td>
                <td><b>$ability.modifier</b></td>
                <td><b>$savingThrow</b></td>
              </tr>
            #end
            </tbody>
          </table>
        </div>
        

        
        <div class="row">
          <table class="table table-condensed">
            <caption>Skills</caption> 
            <tbody>
              #foreach ($skill in $character.skills)
              <tr>
                <td>$skill.name ($skill.abilityType.shorten)</td>
                <td>#if ( $skill.proficiency )<img src="/resources/images/checkbox_yes.png" /> #else <img src="/resources/images/checkbox_no.png" /> #end</td>
                <td><b>$skill.value</b></td>
              </tr>
              #end
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="row">
          Proficiency Bonus : $character.proficiencyBonus
        </div>
        <div class="row">
        AC : $character.armorClass
        </div>
        <div class="row">
        Initiative : $character.initiative
        </div>
        <div class="row">
        Speed : $character.speed feet
        </div>
        <div class="row">
        HP Max : $character.hpMax
        </div>
        <div class="row">
        HP Current : $character.hpCurrent
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>