<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Dungeons &amp; Dragons 5th Edtion Character Sheet</title>
<link rel="stylesheet" href="/resources/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/css/bootstrap-theme.min.css">
<script src="/resources/js/bootstrap.min.js"></script>
</head>
<body>
#foreach ($character in $characters)
<h3><a href="/character/$character.id">$character.name</a></h3>
<h4>$character.characterClass, $character.level</h4>
#end
</body>
</html>